<section class="exercise">
    <% for (let exercise of exercises) { %>
  
    <div class="ui-card">
      <h2><a href="/exercises/<%= exercise.id %>"><%= exercise.title %></a></h2>
    </div>
  
    <% } %>
  </section>