<a href="/fitmess">Do a Workout</a>

<% exercises.forEach(exercise => { %>

  <h2>
    <a href="/exercises/<%= exercise.exercise_id %>">
      <%= exercise.exercise_title %>
    </a>
  </h2>

<% }) %>