<!-- Need the ability to add or remove an exercise, perhaps by dropdown -->

<h1>Create a Workout</h1>

<form action="/workouts" method="post">
  <label for="">Add Exercise</label>
    <% for (let i = 0; i < exercises.length; i++) { %>
    <input type="checkbox" name="<%= exercises.title[i] %>" />
    <label for=""><%= exercise.title[i] %></label>
    <% } %>
  <button>Add</button>
</form>
