<h1>Sign Up</h1>
<form class="signup" action="/users" method="post">
  <label for="email">email</label>
  <input type="text" name="email" />
  <label for="">Password</label>
  <input type="password" name="password" />
  <label for="">Password Confirmation</label>
  <input type="password" name="password_confirmation" />
  <p>
    <button>Sign Up</button>
  </p>
</form>
