<h2>Past Workouts</h2>

<% for (let workout of workouts) { %>
    <p><%=workout.workout_title%></p>
    <% for (let exercise of exercises) { %>
        <% if (workout.workout_id === exercise.workout_id) { %>
            <%= exercise.exercise_title %>
        <% } %>
    <% } %>
<% } %>
