<!-- Need the ability to add or remove an exercise, perhaps by dropdown -->

<h1>Create a Workout</h1>

<form action="/workouts" method="post">
  <label for="">Add Exercise</label>
  <% for (let i = 0; i < exercises.length; i++) { %>
  <li >
    <input
      type="checkbox"
      id="<%= exercises[i].exercise_title %>"
      name="<%= exercises[i].exercise_title %>"
    />
    <label for="<%= exercises[i].exercise_title %>"><%= exercises[i].exercise_title %></label>
  </li>
  <% } %>
  <button>Add</button>
</form>
