<h1>Workout Details</h1>

<p><%= workout.workout_title %></p>


<button><a href="/workouts/<%= workout.workout_id %>/edit">Edit</a></button>
<form action="/workouts/<%= workout.workout_id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <button>Delete</button>
</form>