<!-- Need the ability to add or remove an exercise, perhaps by dropdown -->

<h1>Create a Workout</h1>

<form action="/workouts" method="post">
  <label for="">Add Exercise</label>
  <% for (exercise of exercises) { %>
  <li >
    <input
      type="checkbox"
      id="<%= exercise.exercise_title %>"
      name="<%= exercise.exercise_title %>"
    />
    <label for="<%= exercise.exercise_title %>"><%= exercise.exercise_title %></label>
  </li>
  <% } %>
  <button>Add</button>
</form>
