<h2>Workout List</h2>

<section class="workouts">
    <% for (let workout of workouts) { %>
  
    <div class="ui-card">
      <h2><a href="/workouts/<%= workout.workout_id %>"><%= workout.workout_title %></a></h2>
    </div>
  
    <% } %>
  </section>