body {
    color: #424245;
    box-sizing: border-box;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #f5f5f7;
    text-align: center;
}

li {
    list-style: none;
}

.fitmess {
    text-align: left;
    margin: 40px;
}

.new_ex_form {
    display: block;
    margin: 0 auto;
    width: 30%;
    text-align: left;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;

    
}

.exercises {
    display: block;
    margin: 0 auto;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;

}

.ex_details {
    display: block;
    margin: 0 auto;
    width: 20%;
    text-align: center;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

input {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: lightgray
    border: none;
    color: #1d1d1f;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }